body{
    background-image: url(timer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    width: 50%;
    height: 30%;
    position: absolute;
    left: 25%;
    top: 35%;
    text-align: center;
}
.window{
    height: 80%;
    border: 1px solid black;
}
#w_stopwatch, #w_timer{
    display: none;
}
input[type=number]{
    width: 50px;
}
h1{
    font-size: 60px;
    margin: -20px 0px 0px 0px;
    text-shadow: 2px 2px white;
}
h3{
    margin: 10px 0px 0px 0px;
}